<div class="animated fadeIn mb-5">
    <div class="row">
        <div class="col-lg-12">

            <div class="d-flex justify-content-between align-items-center">
                <p class="h2 mb-4 mt-4 font-weight-bold">{{page_title}}</p>
                <button class="btn btn-primary px-4 add" (click)="add(callLog_modal)">Add new Call Log</button>
            </div>

            <ngx-datatable
                    class="material"
                    [rows]="callLogs"
                    [columnMode]="'force'"
                    [headerHeight]="50"
                    [footerHeight]="50"
                    [rowHeight]="'auto'">
                <ngx-datatable-column prop="created_at" name="Date">
                    <ng-template ngx-datatable-cell-template let-value="value">
                        {{value}}
                    </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column prop="user_name" name="User">
                    <ng-template ngx-datatable-cell-template let-value="value">
                        {{value}}
                    </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column prop="spoke_to" name="Spoke to">
                    <ng-template ngx-datatable-cell-template let-value="value">
                        {{value}}
                    </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column prop="notes" name="Notes">
                    <ng-template ngx-datatable-cell-template let-value="value">
                        {{value}}
                    </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column [resizeable]="false" [sortable]="false" [draggable]="false"
                                      [canAutoResize]="false" [width]="40" [cellClass]="'no-border'" [headerClass]="'no-border'">
                    <ng-template let-row="row" ngx-datatable-cell-template>
                        <button type="button" class="btn btn-link icon" (click)="edit(callLog_modal, row, row.id)"><i
                                class="fa fa-edit fa-lg"></i></button>
                    </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column [resizeable]="false" [sortable]="false" [draggable]="false"
                                      [canAutoResize]="false" [width]="60" [cellClass]="'no-border'" [headerClass]="'no-border'">
                    <ng-template let-row="row" ngx-datatable-cell-template>
                        <button type="button" class="btn btn-link icon" (click)="delete(delete_modal, row, row.id)"><i
                                class="fa fa-times-circle fa-lg"></i></button>
                    </ng-template>
                </ngx-datatable-column>
            </ngx-datatable>

            <button type="button" class="btn btn-link mt-4" [routerLink]="['/clients']" routerLinkActive="active">Back to Clients</button>
        </div>
        <!--/.col-->
    </div>
    <!--/.row-->
</div>

<ng-template #callLog_modal let-c="close" let-d="dismiss">
    <div class="card mb-0">
        <form [formGroup]="callLogForm" class="form-horizontal" (submit)="handleCallLogForm()">
            <div class="card-header">
                <strong>{{callLogFormTitle}}</strong>
                <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="card-body">
                <input type="hidden" id="id" name="id" formControlName="id">
                <div class="form-group row">
                    <label class="col-md-4 col-form-label text-right" for="spoke_to">Spoke To</label>
                    <div class="col-md-8">
                        <input type="text" id="spoke_to" name="spoke_to" formControlName="spoke_to" class="form-control"
                               placeholder="Enter please">
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-md-4 col-form-label text-right" for="notes">Notes</label>
                    <div class="col-md-8">
                        <textarea id="notes" name="notes" formControlName="notes" class="form-control"
                                  placeholder="Enter notes"></textarea>
                    </div>
                </div>
            </div>
            <div class="card-footer text-right">
                <button class="btn btn-primary px-4 mr-3" >Submit</button>
                <button class="btn btn-outline-primary px-4" (click)="c('Close click')">Cancel</button>
            </div>
        </form>
    </div>
</ng-template>

<ng-template #delete_modal let-c="close" let-d="dismiss">
    <div class="card mb-0">
        <div class="card-header">
            <strong>Delete Call Log</strong>
            <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="card-body">Are you sure you want to delete this call log for {{deleteItem}}?</div>
        <div class="card-footer text-right">
            <button class="btn btn-primary px-4 mr-3" (click)="acceptDeleteCallLog()">Submit</button>
            <button class="btn btn-outline-primary px-4" (click)="c('Close click')">Cancel</button>
        </div>
    </div>
</ng-template>