  <div class="animated fadeIn mb-5">
  <div class="row">
    <div class="col-lg-12">

      <div class="d-flex justify-content-between align-items-center">
        <p class="h2 mb-4 mt-4 font-weight-bold">{{page_title}}</p>
        <div>
          <button class="btn btn-primary px-4" (click)="view_all()">View All</button>
          <button class="btn btn-primary px-4 add" (click)="add(worker_modal)">Add new worker </button>
        </div>
      </div>

      <div class="d-flex align-items-end flex-column row mb-4">
        <div class="col-3 search_field">
          <input [(ngModel)]="search" id="search" type='text' class="form-control" placeholder='Search existing workers...'
                 (keyup)='searchFilter()'/>
        </div>
      </div>

      <div [hidden]="!workersTable">
      <ngx-datatable
              #datatableWorker
              class="material"
              [rows]="workers"
              [columnMode]="'force'"
              [headerHeight]="50"
              [footerHeight]="50"
              [rowHeight]="'auto'"
              [selectionType]="'single'"
              (select)='selectWorker($event)'>
        <ngx-datatable-column prop="first_name" name="First name">
          <ng-template ngx-datatable-cell-template let-value="value">
            {{value}}
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column prop="last_name" name="Last name">
          <ng-template ngx-datatable-cell-template let-value="value">
            {{value}}
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column prop="phone" name="Phone number">
          <ng-template ngx-datatable-cell-template let-value="value">
            {{value}}
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column prop="email" name="Email address">
          <ng-template ngx-datatable-cell-template let-value="value">
            {{value}}
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column prop="payroll" name="Payroll number">
          <ng-template ngx-datatable-cell-template let-value="value">
            {{value}}
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column [resizeable]="false" [sortable]="false" [draggable]="false" [canAutoResize]="false" [width]="40" [cellClass]="'no-border'" [headerClass]="'no-border'">
          <ng-template let-row="row" ngx-datatable-cell-template>
            <button type="button" class="btn btn-link icon" (click)="edit(worker_modal, row, row.id, $event)"><i class="fa fa-edit fa-lg"></i></button>
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column [resizeable]="false" [sortable]="false" [draggable]="false" [canAutoResize]="false" [width]="60" [cellClass]="'no-border'" [headerClass]="'no-border'">
          <ng-template let-row="row" ngx-datatable-cell-template>
            <button type="button" class="btn btn-link icon" (click)="delete(delete_modal, row, row.id, $event)"><i class="fa fa-times-circle fa-lg"></i></button>
          </ng-template>
        </ngx-datatable-column>
      </ngx-datatable>
      </div>
    </div>
    <!--/.col-->
  </div>
  <!--/.row-->
</div>

<ng-template #worker_modal let-c="close" let-d="dismiss">
  <div class="card mb-0">
    <form [formGroup]="workerForm" class="form-horizontal" (submit)="handleWorkerForm()">
      <div class="card-header">
        <div *ngIf="editWorker === ''">
          <strong>{{workerFormTitle}}</strong>
        </div>
        <div *ngIf="editWorker !== ''">
          {{workerFormTitle}}
          <strong>/ {{editWorker}}</strong>
        </div>

        <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="card-body">
        <input type="hidden" id="id" name="id" formControlName="id">
        <div class="form-group row">
          <label class="col-md-4 col-form-label text-right" for="first_name">Fist name</label>
          <div class="col-md-8">
            <input type="text" id="first_name" name="first_name" formControlName="first_name"
                   class="form-control" placeholder="Enter first name">
          </div>
        </div>
        <div class="form-group row">
          <label class="col-md-4 col-form-label text-right" for="last_name">Last name</label>
          <div class="col-md-8">
            <input type="text" id="last_name" name="last_name" formControlName="last_name"
                   class="form-control" placeholder="Enter last name">
          </div>
        </div>
        <div class="form-group row">
          <label class="col-md-4 col-form-label text-right" for="address">Address</label>
          <div class="col-md-8">
            <input type="text" id="address" name="address" formControlName="address"
                   class="form-control" placeholder="Enter address">
          </div>
        </div>
        <div class="form-group row">
          <label class="col-md-4 col-form-label text-right" for="address">City</label>
          <div class="col-md-8">
            <input type="text" id="city" name="city" formControlName="city"
                   class="form-control" placeholder="Enter city">
          </div>
        </div>
        <div class="form-group row">
          <label class="col-md-4 col-form-label text-right" for="address">Zip code</label>
          <div class="col-md-8">
            <input type="text" id="zip_code" name="zip_code" formControlName="zip_code"
                   class="form-control" placeholder="Enter zip code">
          </div>
        </div>
        <div class="form-group row">
          <label class="col-md-4 col-form-label text-right" for="phone">Phone number</label>
          <div class="col-md-8">
            <input type="text" id="phone" name="phone" formControlName="phone" class="form-control"
                   placeholder="Enter phone" [textMask]="{mask: phoneMask}">
          </div>
        </div>
        <div class="form-group row">
          <label class="col-md-4 col-form-label text-right" for="email">Email address</label>
          <div class="col-md-8">
            <input type="email" id="email" name="email" class="form-control" formControlName="email"
                   placeholder="Enter email">
          </div>
        </div>
        <div class="form-group row">
          <label class="col-md-4 col-form-label text-right" for="payroll">Payroll number</label>
          <div class="col-md-8">
            <input type="number" id="payroll" name="payroll" formControlName="payroll" class="form-control"
                   placeholder="Enter payroll">
          </div>
        </div>
        <div class="form-group row">
          <label class="col-md-4 col-form-label text-right" for="clients">Clients</label>
          <div class="col-md-8">
            <ng-select id="clients" [items]="clientArr" bindValue="value" [multiple]="true"
                       placeholder="Select clients" clearAllText="Clear"
                       formControlName="clients"></ng-select>
          </div>
        </div>
      </div>
      <div class="card-footer text-right">
        <button type="submit" class="btn btn-primary px-4 mr-3">Submit <span *ngIf="editWorker !== ''">edits</span></button>
        <button type="reset" class="btn btn-outline-primary px-4" (click)="c('Close click')">Cancel <span *ngIf="editWorker !== ''">edits</span></button>
      </div>
    </form>
  </div>
</ng-template>

<ng-template #delete_modal let-c="close" let-d="dismiss">
  <div class="card mb-0">
    <div class="card-header">
      <strong>Delete worker</strong>
      <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="card-body">Are you sure you want to delete this {{deleteItem}}?</div>
    <div class="card-footer text-right">
      <button class="btn btn-primary px-4 mr-3" (click)="acceptDeleteWorker()">Submit</button>
      <button class="btn btn-outline-primary px-4" (click)="c('Close click')">Cancel</button>
    </div>
  </div>
</ng-template>