<header class="app-header navbar">
    <a class="navbar-brand" href="/">{{navbar_title}}</a>

    <button class="navbar-toggler navbar-toggler-left d-lg-none" type="button" data-toggle="collapse"
            data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
            aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse d-lg-none" id="navbarSupportedContent">
        <ul class="nav navbar-nav mr-auto">
            <li class="nav-item px-3 w-100 py-3" *ngFor="let item of menu_list">
                <a class="nav-link" routerLink='/{{item.link}}' routerLinkActive="active">{{item.title}}</a>
            </li>
        </ul>
    </div>

    <ul class="nav navbar-nav mr-auto d-none d-lg-block">
        <li class="nav-item px-3 pull-left" *ngFor="let item of menu_list">
            <a class="nav-link" routerLink='/{{item.link}}' routerLinkActive="active">{{item.title}}</a>
        </li>
    </ul>

    <button (click)="logout()" class="btn btn-outline-primary px-4 mr-3 pull-right">Log Out</button>

</header>
