<div class="animated fadeIn mb-5">
    <div class="row">
        <div class="col-lg-12">

            <div class="d-flex justify-content-between align-items-center">
                <p class="h2 mb-4 mt-4 font-weight-bold">{{page_title}}</p>
                <button class="btn btn-primary px-4 add" (click)="add(authorization_modal, authorization_exist_modal)">Add new authorization</button>
            </div>

            <div class="d-flex align-items-end flex-column row mb-4">
                <div class="col-3 search_field">
                    <input [(ngModel)]="search" id="search" type='text' class="form-control" placeholder='Search existing authorizations...'
                           (keyup)='searchFilter()'/>
                </div>
            </div>

            <ngx-datatable
                    #authorizationTable
                    class="material"
                    [rows]="authorizations"
                    [columnMode]="'force'"
                    [headerHeight]="50"
                    [footerHeight]="50"
                    [rowHeight]="'auto'">
                <ngx-datatable-column prop="auth_number" name="Auth number">
                    <ng-template ngx-datatable-cell-template let-value="value">
                        {{value}}
                    </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column prop="uci_number" name="UCI">
                    <ng-template ngx-datatable-cell-template let-value="value">
                        {{value}}
                    </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column prop="sub_title" name="Sub">
                    <ng-template ngx-datatable-cell-template let-value="value">
                        {{value}}
                    </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column prop="start_date" name="Start date">
                    <ng-template ngx-datatable-cell-template let-value="value">
                        {{value}}
                    </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column prop="end_date" name="End date">
                    <ng-template ngx-datatable-cell-template let-value="value">
                        {{value}}
                    </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column prop="unit" name="# of Units">
                    <ng-template ngx-datatable-cell-template let-value="value">
                        {{value}}
                    </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column prop="notes" name="Notes">
                    <ng-template ngx-datatable-cell-template let-value="value">
                        {{value}}
                    </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column [resizeable]="false" [sortable]="false" [draggable]="false"
                                      [canAutoResize]="false" [width]="60" [cellClass]="'no-border'" [headerClass]="'no-border'">
                    <ng-template let-row="row" ngx-datatable-cell-template>
                        <button type="button" class="btn btn-link icon" (click)="delete(delete_modal, row, row.id)"><i
                                class="fa fa-times-circle fa-lg"></i></button>
                    </ng-template>
                </ngx-datatable-column>
            </ngx-datatable>
        </div>
        <!--/.col-->
    </div>
    <!--/.row-->
</div>

<ng-template #authorization_modal let-c="close" let-d="dismiss">
    <div class="card mb-0">
        <form [formGroup]="authorizationForm" class="form-horizontal" (submit)="handleAuthorizationForm()">
            <div class="card-header">
                <strong>{{authorizationFormTitle}}</strong>
                <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="card-body">
                <div class="form-group row">
                    <label class="col-md-4 col-form-label text-right" for="uci_number">UCI</label>
                    <div class="col-md-8">
                        <ng-select id="uci_number" [items]="clients" [selectOnTab]="true" placeholder="Select client"
                                   formControlName="uci_number" bindValue="value"></ng-select>
                    </div>
                </div>

                <div class="form-group row">
                    <label class="col-md-4 col-form-label text-right" for="auth_number">Auth number</label>
                    <div class="col-md-8">
                        <input pattern="[0-9]*" id="auth_number" name="auth_number" formControlName="auth_number"
                               class="form-control" placeholder="Enter auth number">
                        <div *ngIf="auth_number.invalid && (auth_number.dirty || auth_number.touched)" class="text-danger">
                            <div *ngIf="auth_number.errors.minlength || auth_number.errors.maxlength">
                                Authorization number must be 8 digits.
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-md-4 col-form-label text-right" for="sub_id">SUB</label>
                    <div class="col-md-8">
                        <ng-select id="sub_id" [items]="subs" [selectOnTab]="true" placeholder="Select sub"
                                   formControlName="sub_id" bindValue="value"></ng-select>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-md-4 col-form-label text-right" for="start_date">Start date</label>
                    <div class="col-md-8">
                        <input id="start_date" name="start_date" class="form-control" placeholder="yyyy-mm-dd"
                               formControlName="start_date" ngbDatepicker
                               #start_date="ngbDatepicker" (click)="start_date.toggle()">
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-md-4 col-form-label text-right" for="end_date">End date</label>
                    <div class="col-md-8">
                        <input id="end_date" name="end_date" class="form-control" placeholder="yyyy-mm-dd"
                               formControlName="end_date" ngbDatepicker #end_date="ngbDatepicker"
                               (click)="end_date.toggle()">
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-md-4 col-form-label text-right" for="unit">Number of units</label>
                    <div class="col-md-8">
                        <input type="number" id="unit" name="unit" formControlName="unit" class="form-control"
                               placeholder="Enter number of unit">
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-md-4 col-form-label text-right" for="notes">Notes</label>
                    <div class="col-md-8">
                        <textarea id="notes" name="notes" formControlName="notes" class="form-control"
                                  placeholder="Enter notes"></textarea>
                    </div>
                </div>
            </div>
            <div class="card-footer text-right">
                <button type="submit" class="btn btn-primary px-4 mr-3">Submit</button>
                <button type="reset" class="btn btn-outline-primary px-4" (click)="c('Close click')">Cancel</button>
            </div>
        </form>
    </div>
</ng-template>

<ng-template #authorization_exist_modal let-c="close" let-d="dismiss">
    <div class="card mb-0">
        <div class="card-header">
            <strong>Authorization number already in use</strong>
            <button type="button" class="close" aria-label="Close"
                    (click)="rejectAuthorizationExist(authorization_exist_modal)">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="card-body">
            This authorization number is already in use. Would you like to proceed ?
        </div>
        <div class="card-footer text-right">
            <button class="btn btn-primary px-4 mr-3" (click)="acceptAuthorizationExist()">Yes</button>
            <button class="btn btn-outline-primary px-4" (click)="rejectAuthorizationExist(authorization_exist_modal)">No</button>
        </div>
    </div>
</ng-template>

<ng-template #delete_modal let-c="close" let-d="dismiss">
    <div class="card mb-0">
        <div class="card-header">
            <strong>Delete authorization</strong>
            <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="card-body">Are you sure you want to delete this authorization - {{deleteItem}}?</div>
        <div class="card-footer text-right">
            <button class="btn btn-primary px-4 mr-3" (click)="acceptDeleteAuthorization()">Submit</button>
            <button class="btn btn-outline-primary px-4" (click)="c('Close click')">Cancel</button>
        </div>
    </div>
</ng-template>