<div class="animated fadeIn mb-5">
    <div class="row">
        <div class="col-lg-12">
            <div class="d-flex justify-content-between align-items-center">
                <p class="h2 mb-4 mt-4 font-weight-bold">{{page_title}}</p>
                <button class="btn btn-primary px-4 add" (click)="add(service_coordinator_modal)">Add new service coordinator</button>
            </div>

            <div class="d-flex align-items-end flex-column row mb-4">
                <div class="col-3 search_field">
                    <input [(ngModel)]="search" id="search" type='text' class="form-control" placeholder='Search existing service coordinators...'
                           (keyup)='searchFilter()'/>
                </div>
            </div>

            <ngx-datatable
                    #datatableServiceCoordinator
                    class="material"
                    [rows]="serviceCoordinators"
                    [columnMode]="'force'"
                    [headerHeight]="50"
                    [footerHeight]="50"
                    [rowHeight]="'auto'">
                <ngx-datatable-column prop="first_name" name="First name">
                    <ng-template ngx-datatable-cell-template let-value="value">
                        {{value}}
                    </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column prop="last_name" name="Last name">
                    <ng-template ngx-datatable-cell-template let-value="value">
                        {{value}}
                    </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column prop="phone" name="Phone">
                    <ng-template ngx-datatable-cell-template let-value="value">
                        {{value}}
                    </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column prop="email" name="Email">
                    <ng-template ngx-datatable-cell-template let-value="value">
                        {{value}}
                    </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column prop="branch" name="Branch">
                    <ng-template ngx-datatable-cell-template let-value="value">
                        {{value}}
                    </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column [resizeable]="false" [sortable]="false" [draggable]="false"
                                      [canAutoResize]="false" [width]="40" [cellClass]="'no-border'" [headerClass]="'no-border'">
                    <ng-template let-row="row" ngx-datatable-cell-template>
                        <button type="button" class="btn btn-link icon"
                                (click)="edit(service_coordinator_modal, row, row.id)"><i class="fa fa-edit fa-lg"></i>
                        </button>
                    </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column [resizeable]="false" [sortable]="false" [draggable]="false"
                                      [canAutoResize]="false" [width]="60" [cellClass]="'no-border'" [headerClass]="'no-border'">
                    <ng-template let-row="row" ngx-datatable-cell-template>
                        <button type="button" class="btn btn-link icon" (click)="delete(delete_modal, row, row.id)"><i
                                class="fa fa-times-circle fa-lg"></i></button>
                    </ng-template>
                </ngx-datatable-column>
            </ngx-datatable>
        </div>
        <!--/.col-->
    </div>
    <!--/.row-->
</div>

<ng-template #service_coordinator_modal let-c="close" let-d="dismiss">
    <div class="card mb-0">
        <form [formGroup]="serviceCoordinatorForm" class="form-horizontal" (submit)="handleServiceCoordinatorForm()">
            <div class="card-header">
                <div *ngIf="editServiceCoordinator === ''">
                    <strong>{{serviceCoordinatorFormTitle}}</strong>
                </div>
                <div *ngIf="editServiceCoordinator !== ''">
                    {{serviceCoordinatorFormTitle}}
                    <strong>/ {{editServiceCoordinator}}</strong>
                </div>

                <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="card-body">
                <input type="hidden" id="id" name="id" formControlName="id">
                <div class="form-group row">
                    <label class="col-md-4 col-form-label text-right" for="first_name">Fist name</label>
                    <div class="col-md-8">
                        <input type="text" id="first_name" name="first_name" formControlName="first_name"
                               class="form-control" placeholder="Enter first name">
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-md-4 col-form-label text-right" for="last_name">Last name</label>
                    <div class="col-md-8">
                        <input type="text" id="last_name" name="last_name" formControlName="last_name"
                               class="form-control" placeholder="Enter last name">
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-md-4 col-form-label text-right" for="branch">Branch</label>
                    <div class="col-md-8">
                        <ng-select id="branch" [items]="branches" [selectOnTab]="true" placeholder="Select branch"
                                   formControlName="branch" bindValue="value"></ng-select>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-md-4 col-form-label text-right" for="phone">Phone</label>
                    <div class="col-md-8">
                        <input type="text" id="phone" name="phone" formControlName="phone" class="form-control"
                               placeholder="Enter phone" [textMask]="{mask: phoneMask}">
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-md-4 col-form-label text-right" for="email">Email</label>
                    <div class="col-md-8">
                        <input type="email" id="email" name="email" class="form-control" formControlName="email"
                               placeholder="Enter email">
                    </div>
                </div>
            </div>
            <div class="card-footer text-right">
                <button type="submit" class="btn btn-primary px-4 mr-3">Submit <span *ngIf="editServiceCoordinator !== ''">edits</span></button>
                <button type="reset" class="btn btn-outline-primary px-4" (click)="c('Close click')">Cancel <span *ngIf="editServiceCoordinator !== ''">edits</span></button>
            </div>
        </form>
    </div>
</ng-template>

<ng-template #delete_modal let-c="close" let-d="dismiss">
    <div class="card mb-0">
        <div class="card-header">
            <strong>Delete service coordinator</strong>
            <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="card-body">Are you sure you want to delete this {{deleteItem}}?</div>
        <div class="card-footer text-right">
            <button class="btn btn-primary px-4 mr-3" (click)="acceptDeleteServiceCoordinator()">Submit</button>
            <button class="btn btn-outline-primary px-4" (click)="c('Close click')">Cancel</button>
        </div>
    </div>
</ng-template>