// Here you can add other styles
.text-danger {
  color: red !important;
}

.h2 {
  color: $blue;
  font-size: 36px;
}

::-webkit-scrollbar-track {
  background-color: #b8b8b8;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-thumb {
  background-color: $blue;
  border-radius: 10px;
}

.btn.icon {
  padding: 0;
}

.modal {
  top: 100px;
}
.modal-backdrop.show{
  opacity: 0.7;
}

.form-control {
  &:focus {
    box-shadow: none;
    border-color: $blue;
  }
}

.alert {
  z-index: 10000;
  margin: 0;
  width: 100%;
  position: fixed;
}

textarea.ng-touched.ng-invalid {
  border-color: red;
}

ng-select {
  &.ng-touched.ng-invalid {
    .ng-select-container {
      border-color: red;
    }
  }
  &.ng-select-focused:not(.ng-select-opened) {
    .ng-select-container {
      border-color: $blue !important;
      box-shadow: none !important;
    }
  }
  .ng-select-container {
    border-radius: 0 !important;
  }

  &.ng-select-multiple {
    .ng-select-container {
      .ng-value-container {
        .ng-value {
          background-color: #dbedef !important;
          border: none !important;
        }
      }
    }
  }
}

.search_field input {
  padding-left: 30px;
}

.search_field:before {
  font-family: "FontAwesome";
  content: "\f002";
  position: absolute;
  top: 3px;
  left: 23px;
  font-size: 18px;
  color: $gray-400;
}

.btn.add {
  position: relative;
}

.btn.add:before {
  font-family: "FontAwesome";
  content: "\F067";
  position: absolute;
  top: 4px;
  left: 5px;
  font-size: 17px;
  color: $white;
}

.worker_calendar {
  .fill-height {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: stretch;
  }

  .dropdown-menu:focus {
    outline: none;
  }

  .dropdown-item:hover,
  .dropdown-item:focus,
  .dropdown-item:active {
    background: none;
  }
  .cal-events ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }
}

.ngx-contextmenu.worker_calendar .dropdown-menu {
  .dropdown-item.active,
  .dropdown-item:active,
  .dropdown-item.hover,
  .dropdown-item:hover {
    background-color: transparent;
  }
}

.ngx-datatable.material .datatable-header {
  border: none;
}

.ngx-datatable.material .datatable-header-cell-wrapper span {
  font-weight: bold;
  font-size: 16px;
}

.ngx-datatable.material datatable-body-cell, .ngx-datatable.material datatable-header-cell {
  border-right: 1px solid $gray-400;
}

.ngx-datatable.material datatable-row-wrapper:nth-child(odd) {
  background-color: $gray-100;
}

.ngx-datatable.material .btn-link {
  color: $gray-400;
}

.ngx-datatable.material .btn-link:hover {
  color: $blue;
}

.ngx-datatable.material .no-border {
  border: none;
}