<div class="animated fadeIn mb-5 bg-white p-4 worker_calendar">

    <div class="d-flex justify-content-between align-items-center">
        <p class="h2 mb-4 mt-4 font-weight-bold">{{page_title}}</p>
    </div>

    <p class="h5 mb-2">{{page_additional_title}}</p>
    <p class="h6 mb-5">In the calendar below, right-click on a date and enter the hours and miles if applicable for this worker and client</p>

    <mwl-demo-utils-calendar-header
            [(view)]="view"
            [(viewDate)]="viewDate">
    </mwl-demo-utils-calendar-header>

    <context-menu #basicMenu [menuClass]="'worker_calendar'">
        <ng-template contextMenuItem let-date passive="true">
            <div class="form-group row">
                <input [(ngModel)]="hours" id="hours" type="number" step="0.1" class="form-control" (keyup.enter)="addEvent($event, date)" placeholder='Enter hours' />
            </div>
            <div class="form-group row" *ngIf="allowMiles">
                <input [(ngModel)]="miles" id="miles" type="number" step="0.1" class="form-control" (keyup.enter)="addEvent($event, date)" placeholder='Enter miles' />
            </div>
        </ng-template>
        <ng-template contextMenuItem (execute)="addEvent($event, $event.item)">
            <div class="row"><button class="btn btn-primary btn-block">Add event</button></div>
        </ng-template>
    </context-menu>

    <div [ngSwitch]="view">
        <mwl-calendar-month-view
                *ngSwitchCase="'month'"
                [viewDate]="viewDate"
                [events]="events"
                [refresh]="refresh"
                [activeDayIsOpen]="activeDayIsOpen"
                [cellTemplate]="monthCellTemplate">
        </mwl-calendar-month-view>
        <mwl-calendar-week-view
                *ngSwitchCase="'week'"
                [viewDate]="viewDate"
                [events]="events"
                [refresh]="refresh"
                [headerTemplate]="weekHeaderTemplate">
        </mwl-calendar-week-view>
    </div>

    <ng-template #monthCellTemplate let-day="day" let-locale="locale">
        <div class="fill-height" (click)="dayClicked($event, day, true)" (contextmenu)="dayClicked($event, day, false)">
            <div class="cal-cell-top">
                <span class="cal-day-badge" *ngIf="day.badgeTotal > 0">{{ day.badgeTotal }}</span>
                <span class="cal-day-number">{{ day.date | calendarDate:'monthViewDayNumber':locale }}</span>
            </div>
            <div class="cal-events">
                <ul>
                    <li *ngFor="let event of day.events"><h6>{{event.title}}</h6></li>
                </ul>
            </div>
        </div>
    </ng-template>

    <ng-template #weekHeaderTemplate let-days="days" let-locale="locale" let-dayHeaderClicked="dayHeaderClicked">
        <div class="cal-day-headers">
            <div
                    class="cal-header"
                    *ngFor="let day of days"
                    [class.cal-past]="day.isPast"
                    [class.cal-today]="day.isToday"
                    [class.cal-future]="day.isFuture"
                    [class.cal-weekend]="day.isWeekend"
                    [class.cal-drag-over]="day.dragOver"
                    (click)="dayHeaderClicked.emit({day: day})"
                    [contextMenu]="basicMenu"
                    [contextMenuSubject]="day.date">
                <b>{{ day.date | calendarDate:'weekViewColumnHeader':locale }}</b><br>
                <span>{{ day.date | calendarDate:'weekViewColumnSubHeader':locale }}</span>
            </div>
        </div>
    </ng-template>

    <p class="h5 mt-2">{{months_arr[currentMonth]}} total: {{totalHours}} hours</p>
</div>