<div class="animated fadeIn mb-5">
  <div class="row">
    <div class="col-lg-12">

      <div class="d-flex justify-content-between align-items-center">
        <p class="h2 mb-4 mt-4 font-weight-bold">{{page_title}}</p>
        <button class="btn btn-primary px-4 add" (click)="add(sub_modal)">Add new SUB</button>
      </div>

      <ngx-datatable
              class="material"
              [rows]="subs"
              [columnMode]="'force'"
              [headerHeight]="50"
              [footerHeight]="50"
              [rowHeight]="'auto'">
        <ngx-datatable-column prop="title" name="Title">
          <ng-template ngx-datatable-cell-template let-value="value">
            {{value}}
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column prop="rate" name="Rate">
          <ng-template ngx-datatable-cell-template let-value="value">
            {{value}}
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column [resizeable]="false" [sortable]="false" [draggable]="false" [canAutoResize]="false" [width]="40" [cellClass]="'no-border'" [headerClass]="'no-border'">
          <ng-template let-row="row" ngx-datatable-cell-template>
            <button type="button" class="btn btn-link icon" (click)="edit(sub_modal, row, row.id)"><i class="fa fa-edit fa-lg"></i></button>
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column [resizeable]="false" [sortable]="false" [draggable]="false" [canAutoResize]="false" [width]="60" [cellClass]="'no-border'" [headerClass]="'no-border'">
          <ng-template let-row="row" ngx-datatable-cell-template>
            <button type="button" class="btn btn-link icon" (click)="delete(delete_modal, row, row.id)"><i class="fa fa-times-circle fa-lg"></i></button>
          </ng-template>
        </ngx-datatable-column>
      </ngx-datatable>
    </div>
    <!--/.col-->
  </div>
  <!--/.row-->
</div>

<ng-template #sub_modal let-c="close" let-d="dismiss">
  <div class="card mb-0">
    <form [formGroup]="subForm" class="form-horizontal" (submit)="handleSubForm()">
      <div class="card-header">
        <div *ngIf="editSub === ''">
          <strong>{{subFormTitle}}</strong>
        </div>
        <div *ngIf="editSub !== ''">
          {{subFormTitle}}
          <strong>/ {{editSub}}</strong>
        </div>
        <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="card-body">
        <input type="hidden" id="id" name="id" formControlName="id">
        <div class="form-group row">
          <label class="col-md-4 col-form-label text-right" for="title">Title</label>
          <div class="col-md-8">
            <input type="text" id="title" name="title" formControlName="title" class="form-control" placeholder="Enter title">
          </div>
        </div>
        <div class="form-group row">
          <label class="col-md-4 col-form-label text-right" for="rate">Rate</label>
          <div class="col-md-8">
            <input type="number" step="0.00" id="rate" name="rate" class="form-control" formControlName="rate" placeholder="Enter rate">
          </div>
        </div>
      </div>
      <div class="card-footer text-right">
        <button type="submit" class="btn btn-primary px-4 mr-3">Submit <span *ngIf="sditSub !== ''">edits</span></button>
        <button type="reset" class="btn btn-outline-primary px-4" (click)="c('Close click')">Cancel <span *ngIf="editClient !== ''">edits</span></button>
      </div>
    </form>
  </div>
</ng-template>

<ng-template #delete_modal let-c="close" let-d="dismiss">
  <div class="card mb-0">
    <div class="card-header">
      <strong>Delete SUB</strong>
      <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="card-body">Are you sure you want to delete this {{deleteItem}}?</div>
    <div class="card-footer text-right">
      <button class="btn btn-primary px-4 mr-3" (click)="acceptDeleteSub()">Submit</button>
      <button class="btn btn-outline-primary px-4" (click)="c('Close click')">Cancel</button>
    </div>
  </div>
</ng-template>