<div class="app flex-row align-items-center">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <div class="card-group">
                    <div class="card p-4">
                        <div class="card-body">
                            <form name="form" (ngSubmit)="f.form.valid && login()" #f="ngForm" novalidate
                                  [ngClass]="{ 'was-validated': f.submitted }">
                                <h1>Login</h1>
                                <p class="text-muted">Sign In to your account</p>
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"><i class="icon-user"></i></span>
                                    </div>
                                    <input type="text" class="form-control" id="username" name="username" [(ngModel)]="model.username"
                                           #username="ngModel"
                                           placeholder="Username" aria-describedby="inputGroupPrepend" required>
                                    <div class="invalid-feedback">
                                        Please choose a username.
                                    </div>
                                </div>


                                <div class="input-group mb-4">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"><i class="icon-lock"></i></span>
                                    </div>
                                    <input type="password" class="form-control" id="password" name="password"
                                           [(ngModel)]="model.password" #username="ngModel"
                                           placeholder="Password" aria-describedby="inputGroupPrepend" required>
                                    <div class="invalid-feedback">
                                        Please choose a password.
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-6">
                                        <button [disabled]="loading" class="btn btn-primary px-4">Login</button>
                                    </div>
                                    <!--<div class="col-6 text-right">-->
                                        <!--<button type="button" class="btn btn-link px-0">Forgot password?</button>-->
                                    <!--</div>-->
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
