<div class="animated fadeIn mb-5">
    <div class="row">
        <div class="col-lg-12">

            <div class="d-flex justify-content-between align-items-center">
                <p class="h2 mb-4 mt-4 font-weight-bold">{{page_title}}</p>
                <button class="btn btn-primary px-4 add" (click)="add(user_modal)">Add new user</button>
            </div>

            <ngx-datatable
                    #datatableUser
                    class="material"
                    [rows]="users"
                    [columnMode]="'force'"
                    [headerHeight]="50"
                    [footerHeight]="50"
                    [rowHeight]="'auto'">
                <ngx-datatable-column name="Username">
                    <ng-template ngx-datatable-cell-template let-value="value">
                        {{value}}
                    </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column name="Email">
                    <ng-template ngx-datatable-cell-template let-value="value">
                        {{value}}
                    </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column prop="access_level_title" name="Access level">
                    <ng-template ngx-datatable-cell-template let-value="value">
                        {{value}}
                    </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column [resizeable]="false" [sortable]="false" [draggable]="false" [canAutoResize]="false" [width]="40" [cellClass]="'no-border'" [headerClass]="'no-border'">
                    <ng-template let-row="row" ngx-datatable-cell-template>
                        <button type="button" class="btn btn-link icon" (click)="edit(user_modal, row, row.id)"><i
                                class="fa fa-edit fa-lg"></i></button>
                    </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column [resizeable]="false" [sortable]="false" [draggable]="false" [canAutoResize]="false" [width]="60" [cellClass]="'no-border'" [headerClass]="'no-border'">
                    <ng-template let-row="row" ngx-datatable-cell-template>
                        <button type="button" class="btn btn-link icon" (click)="delete(delete_modal, row, row.id)"><i
                                class="fa fa-times-circle fa-lg"></i></button>
                    </ng-template>
                </ngx-datatable-column>
            </ngx-datatable>
        </div>
        <!--/.col-->
    </div>
    <!--/.row-->
</div>

<ng-template #user_modal let-c="close" let-d="dismiss">
    <div class="card mb-0">
        <form [formGroup]="userForm" class="form-horizontal" (submit)="handleUserForm()">
            <div class="card-header">
                <div *ngIf="editUser === ''">
                    <strong>{{userFormTitle}}</strong>
                </div>
                <div *ngIf="editUser !== ''">
                    {{userFormTitle}}
                    <strong>/ {{editUser}}</strong>
                </div>
                <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="card-body">
                <input type="hidden" id="id" name="id" formControlName="id">
                <div class="form-group row">
                    <label class="col-md-4 col-form-label text-right" for="username">Username</label>
                    <div class="col-md-8">
                        <input type="text" id="username" name="username" formControlName="username" class="form-control"
                               placeholder="Enter username">
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-md-4 col-form-label text-right" for="email">Email address</label>
                    <div class="col-md-8">
                        <input type="email" id="email" name="email" class="form-control" formControlName="email"
                               placeholder="Enter Email">
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-md-4 col-form-label text-right" for="access_level">Access level</label>
                    <div class="col-md-8">
                        <ng-select id="access_level" [items]="user_levels" [selectOnTab]="true"
                                   placeholder="Select user levels"
                                   formControlName="access_level" bindValue="value"></ng-select>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-md-4 col-form-label text-right" for="password">Password</label>
                    <div class="col-md-8">
                        <input type="text" id="password" name="password" class="form-control" formControlName="password"
                               placeholder="Enter password">
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-md-4 col-form-label text-right" for="password-confirm">Confirm password</label>
                    <div class="col-md-8">
                        <input type="text" id="password-confirm" name="password-confirm" class="form-control"
                               formControlName="password-confirm" placeholder="Confirm password">
                    </div>
                </div>
            </div>
            <div class="card-footer text-right">
                <button type="submit" class="btn btn-primary px-4 mr-3">Submit <span *ngIf="editUser !== ''">edits</span></button>
                <button type="reset" class="btn btn-outline-primary px-4" (click)="c('Close click')">Cancel <span *ngIf="editUser !== ''">edits</span></button>
            </div>
        </form>
    </div>
</ng-template>

<ng-template #delete_modal let-c="close" let-d="dismiss">
    <div class="card mb-0">
        <div class="card-header">
            <strong>Delete user</strong>
            <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="card-body">Are you sure you want to delete this {{deleteItem}}?</div>
        <div class="card-footer text-right">
            <button class="btn btn-primary px-4 mr-3" (click)="acceptDeleteUser()">Submit</button>
            <button class="btn btn-outline-primary px-4" (click)="c('Close click')">Cancel</button>
        </div>
    </div>
</ng-template>