<div class="animated fadeIn mb-5">
    <div class="row">
        <div class="col-lg-8 mx-auto">

            <div class="d-flex justify-content-between align-items-center">
                <p class="h2 mb-4 mt-4 font-weight-bold">{{page_title}}</p>
            </div>

            <div class="row">
                <div class="col-xs-12 col-md-4"><h4>UCI Number</h4></div>
                <div class="col-xs-12 col-md-8">{{client?.uci_number}}</div>
            </div>
            <div class="row">
                <div class="col-xs-6 col-md-4"><h4>First name</h4></div>
                <div class="col-xs-6 col-md-8">{{client?.first_name}}</div>
            </div>
            <div class="row">
                <div class="col-xs-6 col-md-4"><h4>Last name</h4></div>
                <div class="col-xs-6 col-md-8">{{client?.last_name}}</div>
            </div>
            <div class="row">
                <div class="col-xs-6 col-md-4"><h4>Address</h4></div>
                <div class="col-xs-6 col-md-8">{{client?.address}}</div>
            </div>
            <div class="row">
                <div class="col-xs-6 col-md-4"><h4>City</h4></div>
                <div class="col-xs-6 col-md-8">{{client?.city}}</div>
            </div>
            <div class="row">
                <div class="col-xs-6 col-md-4"><h4>Zip Code</h4></div>
                <div class="col-xs-6 col-md-8">{{client?.zip_code}}</div>
            </div>
            <div class="row">
                <div class="col-xs-6 col-md-4"><h4>Phone Number</h4></div>
                <div class="col-xs-6 col-md-8">{{client?.phone}}</div>
            </div>
            <div class="row">
                <div class="col-xs-6 col-md-4"><h4>Parent/Guardian</h4></div>
                <div class="col-xs-6 col-md-8">{{client?.parent}}</div>
            </div>
            <div class="row">
                <div class="col-xs-6 col-md-4"><h4>Service Coordinator</h4></div>
                <div class="col-xs-6 col-md-8">{{client?.service_coordinator_name}}</div>
            </div>
            <div class="row">
                <div class="col-xs-6 col-md-4">Notes</div>
                <div class="col-xs-6 col-md-8">{{client?.notes}}</div>
            </div>

            <!--<p class="h5 mt-5 mb-2">AUTHORIZATIONS</p>-->
            <!--<ngx-datatable-->
                    <!--class="material"-->
                    <!--[rows]="authorizations"-->
                    <!--[columnMode]="'force'"-->
                    <!--[headerHeight]="50"-->
                    <!--[footerHeight]="50"-->
                    <!--[rowHeight]="'auto'">-->
                <!--<ngx-datatable-column prop="auth_number" name="Auth number">-->
                    <!--<ng-template ngx-datatable-cell-template let-value="value">-->
                        <!--{{value}}-->
                    <!--</ng-template>-->
                <!--</ngx-datatable-column>-->
                <!--<ngx-datatable-column prop="uci_number" name="UCI">-->
                    <!--<ng-template ngx-datatable-cell-template let-value="value">-->
                        <!--{{value}}-->
                    <!--</ng-template>-->
                <!--</ngx-datatable-column>-->
                <!--<ngx-datatable-column prop="sub_title" name="Sub">-->
                    <!--<ng-template ngx-datatable-cell-template let-value="value">-->
                        <!--{{value}}-->
                    <!--</ng-template>-->
                <!--</ngx-datatable-column>-->
                <!--<ngx-datatable-column prop="start_date" name="Start date">-->
                    <!--<ng-template ngx-datatable-cell-template let-value="value">-->
                        <!--{{value}}-->
                    <!--</ng-template>-->
                <!--</ngx-datatable-column>-->
                <!--<ngx-datatable-column prop="end_date" name="End date">-->
                    <!--<ng-template ngx-datatable-cell-template let-value="value">-->
                        <!--{{value}}-->
                    <!--</ng-template>-->
                <!--</ngx-datatable-column>-->
                <!--<ngx-datatable-column prop="unit" name="# of Units">-->
                    <!--<ng-template ngx-datatable-cell-template let-value="value">-->
                        <!--{{value}}-->
                    <!--</ng-template>-->
                <!--</ngx-datatable-column>-->
                <!--<ngx-datatable-column prop="notes" name="Notes">-->
                    <!--<ng-template ngx-datatable-cell-template let-value="value">-->
                        <!--{{value}}-->
                    <!--</ng-template>-->
                <!--</ngx-datatable-column>-->
            <!--</ngx-datatable>-->

            <p class="h5 mt-5 mb-2">WORKERS</p>
            <div class="row" *ngFor="let worker of workers">
                <div class="col-xs-6 col-md-4"><a [routerLink]="['/worker', worker.id]">{{worker.first_name}} {{worker.last_name}}</a></div>
                <div class="col-xs-6 col-md-8">{{worker.payroll}}</div>
            </div>

            <p class="h5 mt-5 mb-2">CALL LOG</p>
            <button class="btn btn-primary px-4 add mb-4" (click)="addCallLog(callLog_modal)">Add new Call Log</button>

            <ngx-datatable
                    class="material"
                    [rows]="callLogs"
                    [columnMode]="'force'"
                    [headerHeight]="50"
                    [footerHeight]="50"
                    [rowHeight]="'auto'">
                <ngx-datatable-column prop="created_at" name="Date">
                    <ng-template ngx-datatable-cell-template let-value="value">
                        {{value}}
                    </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column prop="user_name" name="User">
                    <ng-template ngx-datatable-cell-template let-value="value">
                        {{value}}
                    </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column prop="spoke_to" name="Spoke to">
                    <ng-template ngx-datatable-cell-template let-value="value">
                        {{value}}
                    </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column prop="notes" name="Notes">
                    <ng-template ngx-datatable-cell-template let-value="value">
                        {{value}}
                    </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column [resizeable]="false" [sortable]="false" [draggable]="false"
                                      [canAutoResize]="false" [width]="40" [cellClass]="'no-border'" [headerClass]="'no-border'">
                    <ng-template let-row="row" ngx-datatable-cell-template>
                        <button type="button" class="btn btn-link icon" (click)="editCallLog(callLog_modal, row, row.id)"><i
                                class="fa fa-edit fa-lg"></i></button>
                    </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column [resizeable]="false" [sortable]="false" [draggable]="false"
                                      [canAutoResize]="false" [width]="60" [cellClass]="'no-border'" [headerClass]="'no-border'">
                    <ng-template let-row="row" ngx-datatable-cell-template>
                        <button type="button" class="btn btn-link icon" (click)="deleteCallLog(delete_modal, row, row.id)"><i
                                class="fa fa-times-circle fa-lg"></i></button>
                    </ng-template>
                </ngx-datatable-column>
            </ngx-datatable>

            <ng-template #callLog_modal let-c="close" let-d="dismiss">
                <div class="card mb-0">
                    <form [formGroup]="callLogForm" class="form-horizontal" (submit)="handleCallLogForm()">
                        <div class="card-header">
                            <strong>{{callLogFormTitle}}</strong>
                            <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="card-body">
                            <input type="hidden" id="id" name="id" formControlName="id">
                            <div class="form-group row">
                                <label class="col-md-4 col-form-label text-right" for="spoke_to">Spoke To</label>
                                <div class="col-md-8">
                                    <input type="text" id="spoke_to" name="spoke_to" formControlName="spoke_to" class="form-control"
                                           placeholder="Enter please">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-md-4 col-form-label text-right" for="notes">Notes</label>
                                <div class="col-md-8">
                        <textarea id="notes" name="notes" formControlName="notes" class="form-control"
                                  placeholder="Enter notes"></textarea>
                                </div>
                            </div>
                        </div>
                        <div class="card-footer text-right">
                            <button class="btn btn-primary px-4 mr-3" >Submit</button>
                            <button class="btn btn-outline-primary px-4" (click)="c('Close click')">Cancel</button>
                        </div>
                    </form>
                </div>
            </ng-template>

            <ng-template #delete_modal let-c="close" let-d="dismiss">
                <div class="card mb-0">
                    <div class="card-header">
                        <strong>Delete Call Log</strong>
                        <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="card-body">Are you sure you want to delete this call log for {{deleteItem}}?</div>
                    <div class="card-footer text-right">
                        <button class="btn btn-primary px-4 mr-3" (click)="acceptDeleteCallLog()">Submit</button>
                        <button class="btn btn-outline-primary px-4" (click)="c('Close click')">Cancel</button>
                    </div>
                </div>
            </ng-template>
            <!--<ngx-datatable-->
                    <!--class="material"-->
                    <!--[rows]="callLogs"-->
                    <!--[columnMode]="'force'"-->
                    <!--[headerHeight]="50"-->
                    <!--[footerHeight]="50"-->
                    <!--[rowHeight]="'auto'">-->
                <!--<ngx-datatable-column prop="created_at" name="Date">-->
                    <!--<ng-template ngx-datatable-cell-template let-value="value">-->
                        <!--{{value}}-->
                    <!--</ng-template>-->
                <!--</ngx-datatable-column>-->
                <!--<ngx-datatable-column prop="user_name" name="User">-->
                    <!--<ng-template ngx-datatable-cell-template let-value="value">-->
                        <!--{{value}}-->
                    <!--</ng-template>-->
                <!--</ngx-datatable-column>-->
                <!--<ngx-datatable-column prop="spoke_to" name="Spoke to">-->
                    <!--<ng-template ngx-datatable-cell-template let-value="value">-->
                        <!--{{value}}-->
                    <!--</ng-template>-->
                <!--</ngx-datatable-column>-->
                <!--<ngx-datatable-column prop="notes" name="Notes">-->
                    <!--<ng-template ngx-datatable-cell-template let-value="value">-->
                        <!--{{value}}-->
                    <!--</ng-template>-->
                <!--</ngx-datatable-column>-->
            <!--</ngx-datatable>-->

            <div class="row">
                <button type="button" class="btn btn-link mt-4" [routerLink]="['/clients']" routerLinkActive="active">Back
                    to Clients
                </button>
            </div>
        </div>
        <!--/.col-->
    </div>
    <!--/.row-->
</div>