<div class="animated fadeIn mb-5">
    <div class="row">
        <div class="col-lg-8 mx-auto">

            <div class="d-flex justify-content-between align-items-center">
                <p class="h2 mb-4 mt-4 font-weight-bold">{{page_title}}</p>
            </div>

            <div class="row">
                <div class="col-xs-6 col-md-4"><h4>First name</h4></div>
                <div class="col-xs-6 col-md-8">{{worker?.first_name}}</div>
            </div>
            <div class="row">
                <div class="col-xs-6 col-md-4"><h4>Last name</h4></div>
                <div class="col-xs-6 col-md-8">{{worker?.last_name}}</div>
            </div>
            <div class="row">
                <div class="col-xs-6 col-md-4"><h4>Payroll Number</h4></div>
                <div class="col-xs-6 col-md-8">{{worker?.payroll}}</div>
            </div>
            <div class="row">
                <div class="col-xs-6 col-md-4"><h4>Address</h4></div>
                <div class="col-xs-6 col-md-8">{{worker?.address}}</div>
            </div>
            <div class="row">
                <div class="col-xs-6 col-md-4"><h4>City</h4></div>
                <div class="col-xs-6 col-md-8">{{worker?.city}}</div>
            </div>
            <div class="row">
                <div class="col-xs-6 col-md-4"><h4>Zip Code</h4></div>
                <div class="col-xs-6 col-md-8">{{worker?.zip_code}}</div>
            </div>
            <div class="row">
                <div class="col-xs-6 col-md-4"><h4>Phone Number</h4></div>
                <div class="col-xs-6 col-md-8">{{worker?.phone}}</div>
            </div>
            <div class="row">
                <div class="col-xs-6 col-md-4"><h4>Email Address</h4></div>
                <div class="col-xs-6 col-md-8">{{worker?.email}}</div>
            </div>

            <p class="h5 mt-5 mb-2">CLIENTS</p>
            <div class="row" *ngFor="let client of clients">
                <div class="col-xs-6 col-md-4"><a [routerLink]="['/client', client.id]">{{client.first_name}} {{client.last_name}}</a></div>
                <div class="col-xs-6 col-md-8">{{client.uci_number}}</div>
            </div>

            <div class="row">
                <button type="button" class="btn btn-link mt-4" [routerLink]="['/workers']" routerLinkActive="active">Back
                    to Workers
                </button>
            </div>
        </div>
        <!--/.col-->
    </div>
    <!--/.row-->
</div>