<div class="animated fadeIn mb-5">
    <div class="row">
        <div class="col-lg-12">

            <div class="d-flex justify-content-between align-items-center">
                <p class="h2 mb-4 mt-4 font-weight-bold">{{page_title}}</p>
                <div>
                    <button class="btn btn-primary px-4" (click)="view_all()">View All</button>
                    <button class="btn btn-primary px-4 add" (click)="add(client_modal, uci_number_modal)">Add new client</button>
                </div>
            </div>

            <div class="d-flex align-items-end flex-column row mb-4">
                <div class="col-3 search_field">
                    <input [(ngModel)]="search" id="search" type='text' class="form-control" placeholder='Search existing clients...'
                           (keyup)='searchFilter()'/>
                </div>
            </div>

            <div [hidden]="!clientsTable">
                <ngx-datatable
                    #datatableClient
                    class="material"
                    [rows]="clientsTable"
                    [columnMode]="'force'"
                    [headerHeight]="50"
                    [footerHeight]="50"
                    [rowHeight]="'auto'"
                    [selectionType]="'single'"
                    (select)='selectClient($event)'>
                <ngx-datatable-column prop="first_name" name="First Name">
                    <ng-template ngx-datatable-cell-template let-value="value">
                        {{value}}
                    </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column prop="last_name" name="Last Name">
                    <ng-template ngx-datatable-cell-template let-value="value">
                        {{value}}
                    </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column prop="uci_number" name="UCI Number">
                    <ng-template ngx-datatable-cell-template let-value="value">
                        {{value}}
                    </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column prop="phone" name="Phone Number">
                    <ng-template ngx-datatable-cell-template let-value="value">
                        {{value}}
                    </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column prop="service_coordinator_name" name="Service Coordinator">
                    <ng-template ngx-datatable-cell-template let-value="value">
                        {{value}}
                    </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column [resizeable]="false" [sortable]="false" [draggable]="false"
                                      [canAutoResize]="false" [width]="40" [cellClass]="'no-border'" [headerClass]="'no-border'">
                    <ng-template let-row="row" ngx-datatable-cell-template>
                        <button type="button" class="btn btn-link icon" (click)="edit(client_modal, row, row.id, $event)"><i
                                class="fa fa-edit fa-lg"></i></button>
                    </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column [resizeable]="false" [sortable]="false" [draggable]="false"
                                      [canAutoResize]="false" [width]="40" [cellClass]="'no-border'" [headerClass]="'no-border'">
                    <ng-template let-row="row" ngx-datatable-cell-template>
                        <button type="button" class="btn btn-link icon" (click)="call_logs_navigate(row, $event)"><i
                                class="fa fa-phone fa-lg"></i></button>
                    </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column [resizeable]="false" [sortable]="false" [draggable]="false"
                                      [canAutoResize]="false" [width]="60" [cellClass]="'no-border'" [headerClass]="'no-border'">
                    <ng-template let-row="row" ngx-datatable-cell-template>
                        <button type="button" class="btn btn-link icon" (click)="delete(delete_modal, row.id, $event)"><i
                                class="fa fa-times-circle fa-lg"></i></button>
                    </ng-template>
                </ngx-datatable-column>
            </ngx-datatable>
            </div>
        </div>
        <!--/.col-->
    </div>
    <!--/.row-->
</div>

<ng-template #client_modal let-c="close" let-d="dismiss">
    <div class="card mb-0">
        <form [formGroup]="clientForm" class="form-horizontal" (submit)="handleClientForm()">
            <div class="card-header">
                <div *ngIf="editClient === ''">
                    <strong>{{clientFormTitle}}</strong>
                </div>
                <div *ngIf="editClient !== ''">
                    {{clientFormTitle}}
                    <strong>/ {{editClient}}</strong>
                </div>

                <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="card-body">
                <input type="hidden" id="id" name="id" formControlName="id">
                <div class="form-group row">
                    <label class="col-md-4 col-form-label text-right" for="uci_number">UCI Number</label>
                    <div class="col-md-8">
                        <input id="uci_number" name="uci_number" class="form-control"
                               formControlName="uci_number"
                               placeholder="Enter uci number" pattern="[0-9]*">
                        <div *ngIf="uci_number.invalid && (uci_number.dirty || uci_number.touched)" class="text-danger">
                            <div *ngIf="uci_number.errors.minlength || uci_number.errors.maxlength">
                                UCI must be 7 digits.
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-md-4 col-form-label text-right" for="first_name">First Name</label>
                    <div class="col-md-8">
                        <input type="text" id="first_name" name="first_name" formControlName="first_name"
                               class="form-control" placeholder="Enter first name">
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-md-4 col-form-label text-right" for="last_name">Last Name</label>
                    <div class="col-md-8">
                        <input type="text" id="last_name" name="last_name" formControlName="last_name"
                               class="form-control" placeholder="Enter last name">
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-md-4 col-form-label text-right" for="address">Address</label>
                    <div class="col-md-8">
                        <input type="text" id="address" name="address" formControlName="address"
                               class="form-control" placeholder="Enter address">
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-md-4 col-form-label text-right" for="address">City</label>
                    <div class="col-md-8">
                        <input type="text" id="city" name="city" formControlName="city"
                               class="form-control" placeholder="Enter city">
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-md-4 col-form-label text-right" for="address">Zip Code</label>
                    <div class="col-md-8">
                        <input type="text" id="zip_code" name="zip_code" formControlName="zip_code"
                               class="form-control" placeholder="Enter zip code">
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-md-4 col-form-label text-right" for="phone">Phone Number</label>
                    <div class="col-md-8">
                        <input type="text" id="phone" name="phone" formControlName="phone" class="form-control"
                               placeholder="Enter phone" [textMask]="{mask: phoneMask}">
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-md-4 col-form-label text-right" for="parent">Parent/Guardian</label>
                    <div class="col-md-8">
                        <input type="text" id="parent" name="parent" formControlName="parent" class="form-control"
                               placeholder="Enter Parent/Guardian">
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-md-4 col-form-label text-right" for="service_coordinator">Service Coordinator</label>
                    <div class="col-md-8">
                        <ng-select id="service_coordinator" [items]="service_coordinators" [selectOnTab]="true"
                                   placeholder="Select service coordinator"
                                   formControlName="service_coordinator" bindValue="value"></ng-select>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-md-4 col-form-label text-right" for="workers">Workers</label>
                    <div class="col-md-8">
                        <ng-select id="workers" [items]="workerArr" bindValue="value" [multiple]="true"
                                   placeholder="Select workers" clearAllText="Clear"
                                   formControlName="workers"></ng-select>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-md-4 col-form-label text-right" for="notes">Notes</label>
                    <div class="col-md-8">
                        <textarea id="notes" name="notes" formControlName="notes" class="form-control"
                                  placeholder="Enter notes"></textarea>
                    </div>
                </div>
            </div>
            <div class="card-footer text-right">
                <button type="submit" class="btn btn-primary px-4 mr-3">Submit <span *ngIf="editClient !== ''">edits</span></button>
                <button type="reset" class="btn btn-outline-primary px-4" (click)="c('Close click')">Cancel <span *ngIf="editClient !== ''">edits</span></button>
            </div>
        </form>
    </div>
</ng-template>

<ng-template #delete_modal let-c="close" let-d="dismiss">
    <div class="card mb-0">
        <div class="card-header">
            <strong>Delete client</strong>
            <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="card-body">Are you sure you want to delete this {{deleteItem}}?</div>
        <div class="card-footer text-right">
            <button class="btn btn-primary px-4 mr-3" (click)="acceptDeleteClient()">Submit</button>
            <button class="btn btn-outline-primary px-4" (click)="c('Close click')">Cancel</button>
        </div>
    </div>
</ng-template>

<ng-template #uci_number_modal let-c="close" let-d="dismiss">
    <div class="card mb-0">
        <div class="card-header">
            <strong>Duplicate UCI number</strong>
            <button type="button" class="close" aria-label="Close" (click)="acceptUciNumberModal()">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="card-body">
            This UCI number {{uciNumberModal_Number}} is already in use by client {{uciNumberModal_ClientName}}.
            Please enter a unique UCI number to continue instead
        </div>
        <div class="card-footer text-right">
            <button class="btn btn-primary px-4 mr-3" (click)="acceptUciNumberModal()">OK</button>
        </div>
    </div>
</ng-template>