<div class="animated fadeIn mb-5">
    <div class="row">
        <div class="col-lg-12">

            <div class="d-flex justify-content-between align-items-center">
                <p class="h2 mb-4 mt-4 font-weight-bold">{{page_title}}</p>
            </div>

            <div class="col-lg-8 mx-auto">
                <div class="row">
                    <div class="col-md-6">
                        <h3>Search by worker</h3>
                        <ng-select id="workers" [items]="workerArr" bindValue="value" placeholder="Select workers"
                                   clearAllText="Clear" [searchFn]="Search" [(ngModel)]="selectedWorker"
                                   (change)="change($event, 'worker')"></ng-select>
                    </div>
                    <div class="col-md-6">
                        <h3>Search by client</h3>
                        <ng-select id="clients" [items]="clientArr" bindValue="value" placeholder="Select clients"
                                   clearAllText="Clear" [searchFn]="Search"
                                   (change)="change($event, 'client')"></ng-select>
                    </div>
                </div>
                <div class="row pt-5">
                    <div class="col-md-12">
                        <ngx-datatable
                                class="material"
                                [rows]="clients"
                                [columnMode]="'force'"
                                [headerHeight]="50"
                                [footerHeight]="50"
                                [rowHeight]="'auto'"
                                [hidden]="serachByClient || clientTableHidden"
                                [selected]="selected"
                                [selectionType]="'single'"
                                (select)='selectClient($event)'>
                            <ngx-datatable-column prop="first_name" name="First Name">
                                <ng-template ngx-datatable-cell-template let-value="value">
                                    {{value}}
                                </ng-template>
                            </ngx-datatable-column>
                            <ngx-datatable-column prop="last_name" name="Last Name">
                                <ng-template ngx-datatable-cell-template let-value="value">
                                    {{value}}
                                </ng-template>
                            </ngx-datatable-column>
                            <ngx-datatable-column prop="uci_number" name="UCI Number">
                                <ng-template ngx-datatable-cell-template let-value="value">
                                    {{value}}
                                </ng-template>
                            </ngx-datatable-column>
                            <ngx-datatable-column prop="phone" name="Phone Number">
                                <ng-template ngx-datatable-cell-template let-value="value">
                                    {{value}}
                                </ng-template>
                            </ngx-datatable-column>
                            <ngx-datatable-column prop="service_coordinator_name" name="Service Coordinator">
                                <ng-template ngx-datatable-cell-template let-value="value">
                                    {{value}}
                                </ng-template>
                            </ngx-datatable-column>
                        </ngx-datatable>
                        <ngx-datatable
                                class="material"
                                [rows]="clients"
                                [columnMode]="'force'"
                                [headerHeight]="50"
                                [footerHeight]="50"
                                [rowHeight]="'auto'"
                                [hidden]="!serachByClient || clientTableHidden">
                            <ngx-datatable-column prop="first_name" name="First Name">
                                <ng-template ngx-datatable-cell-template let-value="value">
                                    {{value}}
                                </ng-template>
                            </ngx-datatable-column>
                            <ngx-datatable-column prop="last_name" name="Last Name">
                                <ng-template ngx-datatable-cell-template let-value="value">
                                    {{value}}
                                </ng-template>
                            </ngx-datatable-column>
                            <ngx-datatable-column prop="uci_number" name="UCI Number">
                                <ng-template ngx-datatable-cell-template let-value="value">
                                    {{value}}
                                </ng-template>
                            </ngx-datatable-column>
                            <ngx-datatable-column prop="phone" name="Phone Number">
                                <ng-template ngx-datatable-cell-template let-value="value">
                                    {{value}}
                                </ng-template>
                            </ngx-datatable-column>
                            <ngx-datatable-column prop="service_coordinator_name" name="Service Coordinator">
                                <ng-template ngx-datatable-cell-template let-value="value">
                                    {{value}}
                                </ng-template>
                            </ngx-datatable-column>
                            <ngx-datatable-column name="Workers">
                                <ng-template let-row="row" ngx-datatable-cell-template>
                                    <ul class="list-unstyled">
                                        <li *ngFor="let worker of subWorkerArr">
                                            <a [routerLink]="['/calendar', worker.id, row.id]">{{worker.first_name}} {{worker.last_name}} - {{worker.payroll}}</a>
                                        </li>
                                    </ul>
                                </ng-template>
                            </ngx-datatable-column>
                        </ngx-datatable>
                    </div>
                </div>
            </div>
        </div>
        <!--/.col-->
    </div>
    <!--/.row-->
</div>
