<div class="animated fadeIn mb-5">
    <div class="row">
        <div class="col-lg-8 mx-auto">

            <div class="d-flex justify-content-between align-items-center">
                <p class="h2 mb-4 mt-4 font-weight-bold">{{page_title}}</p>
            </div>

            <!--<div class="row">-->
                <!--<div class="col-sm-4">-->
                    <!--<button class="btn btn-primary px-4 mb-4 btn-block" [routerLink]=" ['/clients'] ">Clients</button>-->
                <!--</div>-->
                <!--<div class="col-sm-4">-->
                    <!--<button class="btn btn-primary px-4 mb-4 btn-block" [routerLink]=" ['/reports'] ">Reports</button>-->
                <!--</div>-->
                <!--<div [hidden]="!isSuperAdmin()" class="col-sm-4">-->
                    <!--<button class="btn btn-primary px-4 mb-4 btn-block" [routerLink]=" ['/db_users'] ">Database users</button>-->
                <!--</div>-->
                <!--<div [hidden]="isSuperAdmin()" class="col-sm-4">-->
                    <!--<button class="btn btn-primary px-4 mb-4 btn-block" [routerLink]=" ['/service_coordinators'] ">Service coordinators</button>-->
                <!--</div>-->
            <!--</div>-->

            <!--<div class="row">-->
                <!--<div class="col-sm-4">-->
                    <!--<button class="btn btn-primary px-4 mb-4 btn-block" [routerLink]=" ['/authorizations'] ">Authorizations</button>-->
                <!--</div>-->
                <!--<div class="col-sm-4">-->
                    <!--<button class="btn btn-primary px-4 mb-4 btn-block" [routerLink]=" ['/subs'] ">SUBs</button>-->
                <!--</div>-->
                <!--<div class="col-sm-4">-->
                    <!--<button class="btn btn-primary px-4 mb-4 btn-block" [routerLink]=" ['/workers'] ">Workers</button>-->
                <!--</div>-->
            <!--</div>-->

            <!--<div class="row">-->
                <!--<div class="col-sm-4">-->
                    <!--<button class="btn btn-primary px-4 mb-4 btn-block" [routerLink]=" ['/time_entry'] ">Time entry</button>-->
                <!--</div>-->
                <!--<div [hidden]="!isSuperAdmin()" class="col-sm-4">-->
                    <!--<button class="btn btn-primary px-4 mb-4 btn-block" [routerLink]=" ['/service_coordinators'] ">Service coordinators</button>-->
                <!--</div>-->
            <!--</div>-->
            <div class="row">
                <div class="col-sm-6">
                    <button class="btn btn-primary px-4 mb-4 btn-block" [routerLink]=" ['/clients'] ">Clients</button>
                </div>
                <div class="col-sm-6">
                    <button class="btn btn-primary px-4 mb-4 btn-block" [routerLink]=" ['/workers'] ">Workers</button>
                </div>
                <div [hidden]="!isSuperAdmin()" class="col-sm-6">
                    <button class="btn btn-primary px-4 mb-4 btn-block" [routerLink]=" ['/db_users'] ">Database users</button>
                </div>
                <div [hidden]="!isSuperAdmin()" class="col-sm-6">
                    <button class="btn btn-primary px-4 mb-4 btn-block" [routerLink]=" ['/service_coordinators'] ">Service coordinators</button>
                </div>
            </div>

        </div>
    </div>
</div>
